body {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    background: hsl(220, 15%, 55%);
}

.container {
    width: 40%;
    margin: 35px auto;
    background-color: hsl(0, 0%, 100%);
    padding: 25px;
    border-radius: 15px;
}

img  {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.text-container {
    width: 85%;
    margin: auto;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

p {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
}